.feed{
    flex: 0.5;
    border-right: 1px solid red;
    min-width: fit-content;
    overflow-y: scroll;
}

.feedHeader{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid black;
    padding: 15px 20px; /*Arriba derecha abajo izquierda*/
    text-decoration: none;
}

.feedHeader > h2 {
    font-size: 20px;
    font-weight: 800;
    
}
/*Para quitar el scroll  */
.feed::-webkit-scrollbar{
    display: none;
}